.main
{
    border: 2px solid black;
    margin: 0px 200px;
}

header nav
{
    position: fixed;
    width:1115px;
    z-index: 1;
}
.header
{
    width:100%;
    height: 220px;
    /* border:2px solid red; */
    display: flex;
    padding: 20px 100px;
    background-color: rgb(16, 20, 21);
    border-bottom: 2px solid black;
    justify-content:center;
    position: relative;
    color: white;
    
}
.subheader1
{
    /* margin: 0px 150px 0px 150px; */
    margin: auto;

}

.sidebarmaincontent
{
    /* padding: 20px 200px;; */
    display: flex;
    width: 100%;
    position: relative;
    top: 220px;
    height: 1400px;
    
}
.sidebar
{
    width: 20%;
    height:278px;
    /* border: 5px solid black; */
    border-right: 2px solid black;
    text-align: center;
    /* margin-top: 50px; */
    padding: 50px 0px;
    position: fixed;
    background-color:lightyellow;
    border-bottom: 2px solid black;
    z-index: 1;
}
.maincontent
{
    width: 70%;
    margin-left:400px;
    margin-top: 50px;
    /* background-color: lightsteelblue; */
    /* height: 1130px; */
}

.footer
{
    padding: 20px 200px;
    border-top: 2px solid black;
    text-align: end;
    background-color: lightblue;
}
table,th,td
{
    width: 100%;
    border:2px solid black;
    border-collapse: collapse;
    text-align: center;
}
.sidebarmaincontent.sidebar a
{
    text-decoration: none;
}


/* media query for responsiveness */
@media only screen and (min-width:0px) and (max-width:480px)
{
    .main
    {
        width:500px;
        margin:0px;
    }
    .header
    {
        display: block;
        /* margin-bottom: 50px; */
        height:300px;
        align-items: center;
    }
    .sidebarmaincontent
    {
        /* display: block; */
        margin-top: 80px;
        width: 100%;
        
    }
    .maincontent
    {
        margin-left:200px;
        width:100%;
    }

    .footer
    {
        margin-top:1000px;
        width: 100%;
        height: 100px;
    }
    
}

/* responsible for medium size devices */

@media only screen and (min-width:481px) and (max-width:768px)
{
    .main
    {
        width:560px;
        margin: 0px;
    }
    .header
    {
        display: block;
        height:300px;
        align-items: center;
        width:50%;
    }
    .sidebarmaincontent
    {
        display: block;
        margin-top: 80px;
        width:50%; 
        
    }
    .maincontent
    {
        margin-left:200px;
        width:100%;
    }

    .footer
    {
        /* margin-top:500px; */
        width:50%;
        height: 100px;
      justify-content: right;
    }
    
}

@media only screen and (min-width:765px) and (max-width:1500px)
{
    .main
    {
        width:805px;
        margin: 0px;
        height: 2600px;
        
    }
    .header
    {
        height:300px;
        width:72%;
    }
    .subheader1 img
    {
        margin-left: 50px;
        margin-right: 50px;
    }
    .sidebarmaincontent
    {
        margin-top:80px;
        width:50%; 
    }
    .maincontent
    {
        margin-left:300px;
        width: 100%;
    }

    .footer
    {
        margin-top:1015px;
        width: 100%;
        height: 100px;
    }
    
}
